name: CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: 1.33.3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('**/deno.lock') }}
      - name: Run awesome-lint
        run:
          deno run --allow-read --allow-env lint.js
      - name: Run deno fmt and lint
        run:
          deno fmt --check
          deno lint
